/target
/classes
/checkouts
/out
resources/public/js/main.js
resources/public/js
resources/public/cljs
resources/public/vid/borderlessBG.ogg
resources/public/vid/borderlessBG.webm
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
figwheel_server.log
js/main.js