:root {
    --main-color: white;
}

p {
    color: var(--main-color);
    font-family: 'Source Sans Pro', sans-serif;
}

.link {
    color: var(--main-color);
}

.f-headline {
    font-family: 'Share Tech Mono', monospace;
    color: var(--main-color);
}

.dib {
    display: inline-block;
}

.h2 {
    height: 2rem;
}

.link {
    color: var(--main-color);
    text-decoration: none;
}

.link:link, .link:visited{
    color: var(--main-color);
    transition: var(--main-color) .15s ease-in;
}

.link:hover {
    transition: var(--main-color) .15s ease-in;
}

.link:active {
    transition: var(--main-color) .15s ease-in;
}

.link:focus {
    transition: var(--main-color) .15s ease-in;
    outline: 1px dotted currentColor;
}

.w2 {
    width: 2rem;
}

.near-black {
    color: #111;
}

.hover-silver:hover {
    color: #999;
}

.hover-silver:focus {
    color: #999;
}

.pv4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.ph3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mr3 {
    margin-right: 1rem;
}

.tc {
    text-align: center;
}

@media screen and (min-width: 30em) {
    .ph5-ns {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

/* Video */

html {
	background: url(../img/borderlessBG.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    /* background: url(../img/fiber.jpg); */
}

#bgvid {
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background: url(polina.jpg) no-repeat;
	background-size: cover;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    padding:0;
    margin:0;
    left: 0px;
    top: 0px;
    z-index: -1000;
    overflow:hidden;
}

.videoPlayer {
    min-height: 100%;
    position:absolute;
    bottom:0;
    left:0;
}
